<footer class="footer">
    <div class="footer__pixel-groove"></div>
    <div data-flex-layout="row top-stretch" class="footer__outer-flex-row">
        <div data-flex-self="size-x2">
            <div data-flex-layout="row top-left">
                <div class="footer__sponsor-logos">
                                        <img src=" /assets/no-auth/eth_logo_kurz_neg_v2.png" style="height: 23px; margin-top: 36px; margin-right: 0px;">
                </div>
                <div data-flex-layout="columns justify-left" class="footer__sponsor-text">
                    <p class="text-muted">
                      <span class="style--secondary-font">A project of <a class="text-muted" target="_blank" href="https://www.gta.arch.ethz.ch/about/about-us/lang/en">Institute gta</a> / <a class="text-muted" target="_blank" href="https://www.ethz.ch/">ETH Zurich</a></span>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font">Technology provided by <a class="text-muted" target="_blank" href="https://www.sari.uzh.ch/">Swiss Art Research Infrastructure (SARI)</a>
                    </p>
                    <p class="text-muted">
                        <span class="style--secondary-font">Platform powered by <a class="text-muted" target="_blank" href="http://researchspace.org/">ResearchSpace</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/about">About</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/roadmap">Roadmap</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/contact">Contact Us</a></p>
        </div>

        <div class="footer__links-col">
            <p class="text-muted"><a class="text-muted" href="/resource/terms">Terms of Use</a></p>
            <p class="text-muted"><a class="text-muted" href="http://www.cidoc-crm.org">Semantic Models</a></p>
            <p class="text-muted"><a class="text-muted" href="/resource/acknowledgements">Acknowledgements</a></p>
        </div>
    </div>
</footer>
